language: python
python:
  - "3.9"

script:
  - python -m pytest --cov=kdtree tests/

after_success:
  - bash <(curl -s https://codecov.io/bash)

deploy:
  provider: pypi
  username: __token__
  password:
    secure: i7ADuAaEiINO51HLvzE+mvaLBJMk56vg+SpPSiYIOj3Cbqk/McLi2rAUKywcEN9a6uGX4Uw+jMtEhjGrE/QL4+RrUw2MH4vfKQrMRzDba5S8tqCDR8s0OP6hj1UXEHpwvuwIdJlVAWonGLk5df+LZJzkZeKSMOZCwJUUsUlSopoWnUm7cihGHsjTiZYdzOIE4c6BaFR75IdBz49QMvh3pf3e3BqYMakUAttJwoqvnR1Lg88dVXaZVavDKFYX/iP5+Ky6QqIWgwxXpEkeUY983hAc9iAq79y8PVcMAdmC5WWaQ1e+BZvpwJFek8d+AiXE1wrA6SjtL19QWNkN6cWAP42URcmVWm2qfaMWVItQC/TE+qPzwEmOfjDxeS82dJll8Mw37vXx03xbWxM5INVF11dpzB0g4CorS2RgxawA75X4x7Bzncby/WfgWgxxw60qpWEwGgQqbtmbUQkopqMbpboxi2YvoL4hPESG3SQtHdoNaQpHhzVaF/lWJaxQ3bxHsI3T3QYULqlJZujpBc8Tb4b0od/DFvaB5+xnxCTUaNT8ZNjGh2ONnJUdeuwhp9yu5e/D+zqH7A1QSaljxgSE2DbxjE8F39y7X2Zlr4E8hq0+0yomjQ584RTW8bqnUfIsRE+VfnVShc41eaAoCDvLAVKpZGQjrn+SHjZh/Ids0IE=
  on:
    tags: true
  skip_existing: true
